html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
body{
  background-color: white;
  font-family:"IBM Plex Mono", monospace;
}
header{
  margin: 50px 0 5px;
  width: 100%;
  text-align: center;

}
.main-title{
  font-family: "Indie Flower", cursive;
  font-size: 50px;
  color:#fa7855;
  font-weight: bold;

}
.menu-list > li{
display: inline-block;

}

.menu-list > li > a{
  display: block;
  padding: 15px 30px 0 30px;
  color:#696969;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
}
.menu-list > li.home > a{

  color: #fa7855;
}

.menu-list > li.home > a:hover{ 

  color:#696969;
}
    
.menu-list > li > a:hover{ 
  color:#fa7855;
  transition: all 0.3s;
}

.menu-list > li.meals > a{
  position: relative;
}
.meals-list{
  position: absolute;
  background: white;
  padding: 5px 10px;
  font-variant: normal;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
.menu-list li:hover .meals-list{
visibility: visible;
opacity: 1 ;
}
.meals-list > li > a{
  color:#696969;
}
.meals-list > li > a:hover{
  color: #fa7855;
  transition: all 0.3s;
}
div.banner{
	display:block;
	width:100%;
	height:250px;
	background: url("../images/banner.jpg") no-repeat center bottom;
	background-size:cover;

}