html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background-color: white;
  font-family:"IBM Plex Mono", monospace;
}
header{
  margin:40px 0 0;
  width: 100%;
  text-align: center;
  height: auto;
}
.main-title{
   font-family: "Indie Flower", cursive;
  font-size: 50px;
  color: #fa7855;
  font-weight: bold;
  margin-top:40px;
}
nav.surf{
  margin:0;
}
.menu{
margin: 5px auto 10px;
padding:2px 100px;
border-radius:16px;
font-size: 16px;
font-weight: bold;
background-color: #fa7855;
width:80%;
color:white;
display:block;
visibility:hidden;
  }
.span.fa-bars{
display:inline;
font-size:14px;
text-align:left;
padding-right:10px;
}
  
.menu:hover{
background-color: #FF4500;
transition: all 0.3s;

}

.menu-list > li{
  display: inline-block;
  

}
.menu-list > li > a{
  display: block;
  padding: 0px 30px;
  color:#696969;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 24px;
  margin:0; 
  
}

.fa-caret-down{
  padding-left: 10px;
  font-size: 14px;
}
.menu-list > li.home > a{

  color: #fa7855;
}

.menu-list > li.home > a:hover{ 

  color:#696969;
}
    
.menu-list > li > a:hover{ 
  color: #fa7855;
  transition: all 0.3s;
}

.menu-list > li.meals > a{
  position: relative;
  line-height: 20px;
}
.meals-list{
  position: absolute;
  background: white;
  padding: 10px 25px;
  font-variant: normal;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  }

.menu-list li:hover .meals-list{
visibility: visible;
opacity: 1 ;
}
.meals-list > li > a{
  color:#696969;
}
.meals-list > li > a:hover{
  color:#fa7855;
  transition: all 0.3s;
}
.carrousel, content{
  width:100% ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin:0;
  }
  
.carrousel-item1, .carrousel-item2, .carrousel-item3, .carrousel-item4{
 width: 24%;
 margin:0;
  }
.carrousel img{
  width:100% ;
  margin: 0;
  }
.carrousel-item4, .carrousel-item3{
   position: relative;
   overflow: hidden;
 }
.carrousel-item4 .caption, .carrousel-item3 .caption{
  position: absolute;
  margin-top:75%;
  width:100%;
  height:25%;
  background-color:rgba(250, 120, 85, 0.5); 
  transition: all 0.3s;
  padding: 5%;
  bottom:-50%;
  overflow: hidden;
  font-variant: small-caps;
  color: white;
  font-weight: bold;
  font-size:90%;
  }
   
.carrousel-item3 .caption{
  font-size:16px;
  color: #800000;
  background-color:rgba(169, 169, 169, 0.5)
    
  }
  
.carrousel-item4:hover .caption,.carrousel-item3:hover .caption {
 bottom:4px;
    
  }
.caption p.date{
 display:inline;
 font-size:12px;
 text-align: left;
 font-weight: bold;
 margin-bottom:16px;
  }
  
  
.caption p.description{
  padding-top: 10px;
  font-size: 16px;
  }
.content{
  max-width:900px;
  margin: 30px auto;
  }
.content img{
  border-radius:16px;
  width:100%;
  overflow: hidden;
  }
.content-image1, .content-image2, .content-image3{
  max-width: 32%;
  visibility: visible;
  position: relative;
  display: inline-block;
  }
     
.content-image1:hover, .content-image2:hover, .content-image3:hover{
  visibility: hidden;
 transition: all 0.3s;
  }
.content a.button{
    position: absolute;
    padding: 2% 8%;
    background-color:white;
    border-radius: 16px;
    color:black;
    text-align: center;
    font-size: 90%;
    justify-content: center;
    visibility: visible;
    width:50%;
    margin:-38% 25%;
    line-height: 18px;
  }
.content a.button:hover{
    background-color:#fa7855;
    transition: all 0.3s;
  }

 div> .content-video{
  width: 64%;
  display: inline-block;
  height: 355px;
  max-width:300%;
  min-width:50% ;
  margin: 0px 5px;
}
iframe{
  width:100% ;
  height:100% ;
}

.video-description{
	font-size: 10px;
	color: #808080;
}

 .content-bio{
  width:30% ;
  max-width:250px;
  min-width:70px;
  text-align: center;
  justify-content:right;
  padding-bottom: 35px;
  float: right;
  margin-right: 15px;
   }
.content-bio .aboutme{
	font-size: 11px;
	font-weight: bold;
	color: black;
  background-color: #FDE2DA;
  padding: 5px 0;
  margin-bottom: 20px;
  float: right;
  }
img.profile-pic{
	height: 155px;
	width: 155px;
	border-radius: 100%;
	margin-bottom: 15px;
}

h3{
	font-weight: bold;
	margin-bottom: 10px;
}

aside p{
	font-size: 12px;
	margin-bottom: 25px;
	color: #808080;
}

.pinksquare-button, .aboutme{
	font-size: 11px;
	font-weight: bold;
	color: black;
	background-color: #FDE2DA;
	width: 100%;
	padding: 5px 0;
	display: inline-block;
}

.aboutme:hover, .pinksquare-button:hover, .recipe-button:hover{
	background-color: #fccfc2;
}

.fa-heart:hover{
	color: #cc0000;
	font-weight: bold;
}

.fa-comments:hover{
	color: #000099;
	font-weight: bold;
}

.fa-share-alt:hover{
	color: black;
}

.round-image{
	width: 250px;
	height: 166px;
	border-radius: 15%;
}

.index-recipe{
	border-top: 1px solid #d8d8d8;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 25px 0;
	max-width:65%;
}

.recipe{
	padding-left: 25px;
}

.date-social, .indexrecipe-text{
	color: #808080;
	font-size: 11px;
}

.date-social{
	display: block;
	margin-bottom: 10px;
}

.date-social p{
	display: inline-block;
}

.date-social a{
	float: right;
	text-align: center;
	color: #808080;
}

.date-social a i{
	margin-left: 10px;
}

.indexrecipe-title{
	margin-left: 8px;
	font-weight: bold;
}

.indexrecipe-text{
	padding-top: 10px ;
	padding-bottom: 30px;
}

.recipe-button{
	color: black;
	font-size: 11px;
	font-weight: bold;
	background-color: #FEDCEE;
	padding: 5px 23px;
	border-radius: 5px;
}

#socialmedia-footer{
  margin-top: 50px;
	border-bottom: 1px solid #d8d8d8;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	padding-bottom: 40px;
	font-size: 12px;
  align-items:center;
  
}

#socialmedia-footer a{
	color: #808080;
}

#socialmedia-footer a span{
	margin-left: 10px;
}

#socialmedia-footer a:hover{
	color: #4c4c4c;
	font-weight: bold;
	font-size: 14px;
}
div.arrow{
  visibility: visible;
  position: relative;
 }
 
.arrow .fa-arrow-up{
  display:none;
	background-color: #FC774E;
	color: white;
	font-size: 16px;
	padding:5px 11px 8px 5px;
	border-radius:50%;
	text-align:center;
	position: absolute;
	line-height:26px;
  width:24px;
  margin:0 auto;
  bottom:35px;
  left:46% ;
}
.fa-arrow-up:before {
  content: "\f062";
}
.arrow .fa-arrow-up:hover{
  background-color: #FF4500;
  transition: all 0.3s;
}

@media only screen and (max-width:900px){
  
.carrousel-item3{
 display:none;
  }
.carrousel-item1, .carrousel-item2, .carrousel-item4{
   width:32%;
  }
.menu-list > li > a{
  padding: 15px 15px 0 15px;
  font-size: 22px;
  }
.meals-list{
  padding: 5px 10px;
    }
.main-title{
  margin-top:70px;
     }   
         }

 @media only screen and (max-width:700px){

  .carrousel-item2,.carrousel-item3{

  display:none;
  }
  .carrousel-item1,.carrousel-item4{

    width: 48%;
  }
  .carrousel-item4 .caption{
    font-size:100%;
  }
  .content-image3{
    display:none;
  }
  .content-image1,.content-image2{
    max-width:48%;  
  }
  .content-image2{
    margin-right:0px;
  }
  
  img.profile-pic{
  height: 135px;
	width: 135px;
  }
  .index-recipe{
  max-width: 90%;
  margin-left:5%;
  margin-right:5%;
  }
  #socialmedia-footer span{
  display: none;  
  }
  #socialmedia-footer{
  margin-left:5%;
  margin-right:5%;
  }
  .arrow .fa-arrow-up{
    display:block;
  }
    }

@media only screen and (max-width:560px){
 .main-title{
  font-size: 40px;
   margin-top:20px;
  }
.menu-list > li{
  display:none;
}
.menu{
  visibility: visible;
}

 .carrousel-item4 .caption p.date{
 display:none;
}
.carrousel-item4 .caption p.description{
font-size:14px;
}
 
div.content-video{
  display:none;
}
.content-bio{
  display:block;
  float:none;
  width: 90%;
  margin:0 auto;
}
aside p{
	font-size: 16px;
  }
.img.profile-pic{
  height: 170px;
	width: 170px;
  }
  .index-recipe{
  display: block;
  max-width:70% ;
  margin:0 auto;
}
.recipe{
  max-width:90% ;
  margin:0 auto;
  margin-left:0;
}
.content-bio{
  padding-bottom:5px;
}
.arrow .fa-arrow-up{
  display:block;
}
.div.arrow{
  visibility:visible;
 }
 
}

@media only screen and (max-width:420px){
header{
  margin:10px;
  }
.main-title{
   margin-top:20px;
  }
.carrousel-item4{
  display:none;
  }
.carrousel-item1{
 width:100% ;
  }
.menu{
 font-size:12px;
  display:inline-block;
  height:20px;
  text-align:center;
}
.content-image1,.content-image2{
  display:block;
  max-width:90%;
  margin:0 auto;
}
}